@model GetExchangeRateModel

@{
    ViewData["Title"] = "Exchange - " + Model;
}
<body class="bg-black">

    <div class="text-center">
        <h3 class="display-1 p-5 text-white">@Model.asset_id_base</h3>
    </div>
    <div class="container row text-center">
        @foreach (var rate in Model.rates)
        {
            string quote = rate.asset_id_quote;
            if (
               // CRYPTO
               quote == "BTC" || quote == "ETH" || quote == "BNB" || quote == "USDT" || quote == "USDC" ||

               // COIN
               quote == "EUR" || quote == "USD" || quote == "JPY" || quote == "GBP" || quote == "BRL"
               )
            {
                <div class="col p-3 m-2 border bg-dark">
                    <p class="row text-white display-6">@rate.asset_id_quote</p>
                    <p class="row text-light">Value per @Model.asset_id_base unit: <i class="text-success fs-5">@rate.rate</i></p>
                    <p class="row fs-6 text-light">Time of rate: <i class="text-info">@rate.time.</i></p>
                </div>
            }
        }
    </div>
</body>