@model GetSymbolModel

@{
    ViewData["Title"] = Model.base_currency+"-"+Model.counter_currency + " - Symbol";
}

<div class="container text-center">
    @Model.base_currency
    @Model.base_currency_scale
    @Model.counter_currency
    @Model.counter_currency_scale
    @Model.min_price_increment
    @Model.min_price_increment_scale
    @Model.min_order_size
    @Model.min_order_size_scale
    @Model.max_order_size
    @Model.max_order_size_scale
    @Model.lot_size
    @Model.lot_size_scale
    @Model.status
    @Model.id
    @Model.auction_price
    @Model.auction_size
    @Model.auction_time
    @Model.imbalance
</div>